name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  test:
    name: Test
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9]
        poetry-version: [1.1.7]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Poetry
        uses: abatilo/actions-poetry@v2.1.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install
        run: poetry install
      - name: Pytest
        run: poetry run pytest --cov-report=html --cov=fastmicro tests/
      - name: Codecov
        uses: codecov/codecov-action@v2.0.1
        with:
          token: 35e17861-0c8d-418d-be9f-bcbf5db7a079
          directory: htmlcov
  deploy:
    name: Build
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Poetry
        uses: abatilo/actions-poetry@v2.1.0
        with:
          poetry-version: 1.1.7
      - name: Build
        run: poetry build
      - name: pypi-publish
        uses: pypa/gh-action-pypi-publish@v1.4.2
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
